{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "37",
          "edge": "11",
          "firefox": "23",
          "safari": "8",
          "ie": "11",
          "ios": "8",
          "android": "40"
        },
        "exclude": [
          "@babel/plugin-transform-typeof-symbol"
        ]
      }
    ]
  ]
}